doctype html
html(lang="en")
  head
    title First Local
    script(src='../js/utils.js')
    
  body
    h1 Probando desde cero poco a poco se llega lejos
    button(type="button", onClick="javascript:HolaMundo(); ") ClickMe